* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Navigation styling*/
.nav-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}

h2 {
    color: #f9faf8;
    font-size: 24px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e3e3e3;
}

.nav-list {
    display: flex;
    gap: 16px;
}

/*Hero styling*/
.container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
}

.image {
    width: 410px;
    height: 200px;
}

.CTA-button {
    color: #e5e7eb;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
}

/*Information section styling*/
.random {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.a-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
}

.box {
    width: 160px;
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.info {
    max-width: 200px;
}

.text {
    color: #1f2937;
}

/*Quote section styling*/
.quote-container {
    background-color: #e5e7eb;
    padding: 100px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    padding-left: 175px;
}

.referer {
    font-weight: 400;
    padding-left: 520px;
}

/*Call to action styling*/
.CTA-section-container {
    color: #e3e3e3;
    background-color: #3882f6;
    max-width: 500px;
    padding: 50px 100px;
    border-radius: 10px;
    margin-left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CTA-button2 {
    color: #e3e3e3;
    background-color: #3882f6;
    padding: 8px 16px;
    border: none;
    outline: 4px solid #e3e3e3;
    border-radius: 10px;
    align-items: flex-end;
}

/* Footer styling */
.footer-Container {
    color: #e3e3e3;
    background-color: #1f2937;
    text-align: center;
    padding: 50px;
}